In [57]:
# Steps
#1. Import the necessary libraries.
#2. Imort the dataset.
# 3. Data Cleaning, Data Exploration, Data Visualization, Data Manipulation.
#4. EDA - Exploratory Data Analysis.
#5. Split the dataset into training and testing sets.
#6. Build the model(Choosing).
#7. Train the model.
#8. Test the model.
#9. Evaluate the model.
#10. [Optional] Export the dataset into a CSV file.

In [58]:
# Importing the necessary libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import re
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.svm import SVR

In [59]:
df = pd.read_csv('train.csv')

In [60]:
df.head()

,Name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary,GrossPay
0,"Aaron,Keontae E",AIDE BLUE CHIP,W02200,Youth Summer,06/10/2013,$11310.00,$873.63
1,"Aaron,Patricia G",Facilities/Office Services II,A03031,OED-Employment Dev,10/24/1979,$53428.00,$52868.38
2,"Aaron,Petra L",ASSISTANT STATE'S ATTORNEY,A29005,States Attorneys Office,09/25/2006,$68300.00,$67439.19
3,"Abaineh,Yohannes T",EPIDEMIOLOGIST,A65026,HLTH-Health Department,07/23/2009,$62000.00,$58654.74
4,"Abbene,Anthony M",POLICE OFFICER TRAINEE,A99416,Police Department,07/24/2013,$43999.00,$39686.95

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18981 entries, 0 to 18980
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    Name         18981 non-null  object
 1   JobTitle      18981 non-null  object
 2   AgencyID      18981 non-null  object
 3   Agency        18981 non-null  object
 4   HireDate      18911 non-null  object
 5   AnnualSalary  18981 non-null  object
 6   GrossPay      15758 non-null  object
dtypes: object(7)
memory usage: 1.0+ MB

In [62]:
df.isnull().sum()

 Name              0
JobTitle           0
AgencyID           0
Agency             0
HireDate          70
AnnualSalary       0
GrossPay        3223
dtype: int64

In [63]:
df.shape

(18981, 7)

In [64]:
df.drop(['GrossPay'], axis=1, inplace=True)

In [65]:
df.dropna(inplace=True)

In [66]:
df.isnull().sum()

 Name           0
JobTitle        0
AgencyID        0
Agency          0
HireDate        0
AnnualSalary    0
dtype: int64

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18911 entries, 0 to 18980
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0    Name         18911 non-null  object
 1   JobTitle      18911 non-null  object
 2   AgencyID      18911 non-null  object
 3   Agency        18911 non-null  object
 4   HireDate      18911 non-null  object
 5   AnnualSalary  18911 non-null  object
dtypes: object(6)
memory usage: 1.0+ MB

In [68]:
df.describe()

,Name,JobTitle,AgencyID,Agency,HireDate,AnnualSalary
count,18911,18911,18911,18911,18911,18911
unique,18718,1073,1177,65,4737,1590
top,"Clark,Tony C",AIDE BLUE CHIP,P04001,Youth Summer,05/21/2014,$11310.00
freq,2,4817,316,4323,1478,4811

In [69]:
df.columns

Index([' Name', 'JobTitle', 'AgencyID', 'Agency', 'HireDate', 'AnnualSalary'], dtype='object')

In [70]:
#Making a copy of the dataset
new_df = df.copy()

In [71]:
#Removing from the leading and trailing spaces and converting to lower case
new_df.columns = new_df.columns.str.strip().str.lower()

In [72]:
new_df.columns

Index(['name', 'jobtitle', 'agencyid', 'agency', 'hiredate', 'annualsalary'], dtype='object')

In [73]:
new_df.agencyid

0        W02200
1        A03031
2        A29005
3        A65026
4        A99416
          ...
18976    W02235
18977    W02629
18978    A99416
18979    A99262
18980    A50206
Name: agencyid, Length: 18911, dtype: object

In [74]:
new_df.agencyid.unique()

array(['W02200', 'A03031', 'A29005', ..., 'W02674', 'W02382', 'W02339'],
      dtype=object)

In [75]:
new_df['agencyid'].value_counts()

agencyid
P04001    316
C90786    276
W02629    193
P04002    191
A99416    166
         ...
W02685      1
W02660      1
W02692      1
W02447      1
W02339      1
Name: count, Length: 1177, dtype: int64

In [78]:
new_df['agencyid'].unique()

array(['W02200', 'A03031', 'A29005', ..., 'W02674', 'W02382', 'W02339'],
      dtype=object)

In [81]:
new_df.agencyid.value_counts().map(new_df.agency)

agencyid
P04001    HLTH-Health Department
C90786             Youth Summer
W02629         Police Department
P04002           DPW-Solid Waste
A99416             Youth Summer
                   ...
W02685        OED-Employment Dev
W02660        OED-Employment Dev
W02692        OED-Employment Dev
W02447        OED-Employment Dev
W02339        OED-Employment Dev
Name: count, Length: 1177, dtype: object